*.iml
.gradle/
.kotlin/
/build/
/app/build/
/.build-outputs/
/captures/
.externalNativeBuild/
.cxx/

.DS_Store
local.properties
.env
key.properties
keystore.properties
*.jks
*.keystore
debug.keystore
